* {
    margin: 0;
    padding: 0;
}

.heading {
    margin: 50px;
    text-align: center;
}

#container {
    border-style: solid;
    border-width: thick;
    border-color: black;
    width: 960px;
    height: 960px;
    background-color: rgb(182, 160, 160);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#cont_2 {
    text-align: center;
    margin-bottom: 20px;
}

#btn {
    color: white;
    font-style: bold;
    font-size: 32px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(86, 26, 3);
    border-width: thin;
    border-radius: 25%;
}

.bx {
    width: 58.4px;
    height: 58.4px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: black;
}

